$main-color : #04468B;
.register{
    form{
        padding: 14px 28px 28px 28px;
        .buttonHide{
            height: 36px;
            padding: 7px 0px 7px 0px;
            border: 0px;
            outline: none;
            background: inherit;
            color: #000;
        }
        .btn-success{
            @media screen and (max-width: 767.98px){
                width: 100%;
            }
        }
    }
}