<footer class="blck w100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="texts">
                    <h1>Đoàn thanh niên cộng sản Hồ Chí Minh</h1>
                    <h1>Trường Du lịch - Đại học Huế</h1>
                    <ul>
                        <li>Bản quyền thuộc Đại học Huế ©2020</li>
                        <li>Địa chỉ: 03 Lê Lợi - TP Huế</li>
                        <li>Điện thoại: (+84)234.3825866</li>
                        <li>Fax: (+84)234.3825902</li>
                        <li>Email: office@hueuni.edu.vn</li>
                        <li>Hỗ trợ kỹ thuật, xử lý sự cố hotline: 0234.3823123 hoặc 0983.431.561</li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <ul class=" d-flex justify-content-center">
                    <li><p class="">Liên hệ với chúng tôi </p></li>
                    <li><a href="#" target="blank"><img class="icon" src="assets\imgs\zalo.png" /></a></li>
                    <li><a href="https://www.youtube.com/watch?v=Tb3pwpmxkoo" target="blank"><fa-icon [icon]="ytIcon" class="faicon"></fa-icon></a></li>
                    <li><a href="https://www.facebook.com/SinhVienHueConfessions" target="blank"><fa-icon [icon]="fbIcon" class="faicon"></fa-icon></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>