<div class="pagination">
    <div class="largePagi">
        <a href="manager-members/list">Trang đầu</a>
        <a href="manager-members/list" class="active">2</a>
        <a href="manager-members/list">3</a>
        <a href="manager-members/list">4</a>
        <a href="manager-members/list">5</a>
        <a href="manager-members/list">Trang cuối</a>
    </div>
    <div class="mobilePagi">
        <form >
            <div class="form-group">
                <select class="form-control">
                    <option value="1">Trang đầu</option>
                    <option value="2">Trang 2</option>
                    <option value="3">Trang 3</option>
                    <option value="4">Trang 4</option>
                    <option value="5">Trang 5</option>
                    <option value="6">Trang cuối</option>
                </select>
            </div>
        </form>
    </div>
</div>