<div class="blck w100 body">
    <app-header></app-header><!-- header -->
    <app-top-menu></app-top-menu><!-- top menu -->
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12">
                <router-outlet></router-outlet>
            </div><!-- pages here -->
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12"><app-right-sidebar></app-right-sidebar></div><!-- right sidebar -->
        </div>
    </div>
    <app-footer></app-footer><!-- footer -->
</div>
