<!-- Modal new branch success -->
<div class="modal fade" tabindex="-1" id="addBranchSuccess" role="dialog" aria-labelledby="addBranchSuccessModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-success">Tạo chi đoàn thành công</h5>
            </div>
            <div class="modal-body">
                <p>Chi đoàn mới đã được tạo thành công.</p>
            </div>
            <div class="modal-footer">
                <a [routerLink]="['/dashboard']" data-dismiss="modal" class="btn btn-primary">Về trang chủ</a>
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- end modal -->