<div class="content">
  <div class="content-wrapper">
    <div class="top">
      <div class="title">TRANG THÔNG TIN ĐOÀN KHOA DU LỊCH</div>
    </div>
    <div class="bottom">
      <div class="bottom-wrapper">
        <div class="title-box">
          <span>{{ content.title }}</span>
          <div class="content-title">
            <div>{{ content.title1 }}</div>
            <div class="box-datetime">
              <div class="datetime">{{ content.date }}</div>
              <div class="seen">{{ content.seen }}</div>
            </div>
          </div>
        </div>

        <div class="content-faculty">
          <div class="content">
            {{ content.content2 }}
          </div>
          <div class="img-box">
            <img src="assets/imgs/132339871139597282_h1.jpg" />
            <span>{{ content.note }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="slide">
  <div class="title">Cùng Chuyên Mục</div>
</div>
